/* @font-face {
	font-family: 'Homenaje';
	font-style: normal;
	font-weight: 500;
	src: url('static\fonts\Homenaje-Regular.ttf');
} */

@font-face {
	font-family: 'FiraSans';
	/* font-style: normal;
	font-weight: 400; */
	src: url('../static/fonts/FiraSans-Regular.ttf');
}

@font-face {
	font-family: 'Transport';
	font-style: normal;
	font-weight: 500;
	src: url('../static/fonts/transportm.ttf');
}
